﻿<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }


        .button-Webacker {
            display: inline-block;
            border-radius: 4px;
            background-color: #FFA500;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button-Webacker span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button-Webacker span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button-Webacker:hover span {
                padding-right: 25px;
            }

                .button-Webacker:hover span:after {
                    opacity: 1;
                    right: 0;
                }


        .done {
            display: inline-block;
            border-radius: 4px;
            background-color: #;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button-Submit {
            display: inline-block;
            border-radius: 4px;
            background-color: #32CD32;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 50%;
            height: 100%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button-Submit span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button-Submit span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button-Submit:hover span {
                padding-right: 25px;
            }

                .button-Submit:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>
<body>
    <div>
        <center>
            <label> 3Ｑ，您已經抽過嘍！</label> <br>

            <button class="button-Submit" onclick="location.href='@Url.Action("Index","Home")'"><span>點擊返回首頁 </span> </button>
        </center>
    </div>
</body>
</html>