﻿<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 15%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }


        .button-Jullybuy {
            display: inline-block;
            border-radius: 4px;
            background-color: #FFA500;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 15%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button-Jullybuy span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button-Jullybuy span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button-Jullybuy:hover span {
            padding-right: 25px;
        }

            .button-Jullybuy:hover span:after {
                opacity: 1;
                right: 0;
            }


        .button-Submit {
            display: inline-block;
            border-radius: 4px;
            background-color: #32CD32;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 20%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button-Submit span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button-Submit span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button-Submit:hover span {
                padding-right: 25px;
            }

                .button-Submit:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        input[type=text] {
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding-left: 40px;
            width: 25%;
            font-size: xx-large;
            letter-spacing: 50px;
            font-weight : bold;
        }

    </style>

    <script src="~/Scripts/index.js"></script>
</head>
<body>
    <div>
        <center>
            <img src="/Images/logo.png" alt="BackGround" style="width:15%;float:inherit" ; /></p>
        </center>
        <picture>
            <source media="(min-width: 1150px)" srcset="/Images/background_650.png" />
            <source media="(min-width: 850px)" srcset="/Images/background_450.png" />
            <source media="(min-width: 650px)" srcset="/Images/background_450.png" />
            <source media="(min-width: 450px)" srcset="/Images/background_450.png" />
            <source media="(min-width: 450px)" srcset="/Images/logo.png" />
            <center>
                <img src="/Images/background_450.png" alt="BackGround" style="width:auto;" />
            </center>
        </picture>
</div>

    <br>
    <br>
   
    <div>
        <center>
            <button class="button" onclick="btnOnClick(1)"><span>預購 </span> </button>

            <button class="button-Jullybuy" onclick="btnOnClick(2)"><span>訂購 </span> </button>

        </center>
    </div>

    <br>
    <br>

    @using (Html.BeginForm("Lottery", "Home", FormMethod.Post))
    {
        <div>
            <center>

                @Html.TextBox("KeyNum_preorder", "", new { @maxlength = 5, @style = "color: #FFFFFF;background-color:#f4511e", @id = "preorder" })
                @Html.TextBox("KeyNum_order", "", new { @maxlength = 5, @style = "color: #FFFFFF;background-color:#FFA500;display:none", @id = "order" })


                <br> <input class="button-Submit" type="submit" value="GO！" />
            </center>
        </div>
    }
    <!--
    <div>
        <center>
            <button class="button-Submit" onclick="location.href='D@Url.Action("Lottery","Home",new {index = Request.Form["keyNum"]})'"><span>GO！ </span> </button>
        </center>ㄑ
    </div>
    -->
</body>
</html>