﻿<!DOCTYPE html>
<html>
<head>
    <style>
        .button-Submit {
            display: inline-block;
            border-radius: 4px;
            background-color: #32CD32;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 50%;
            height: 100%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button-Submit span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button-Submit span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button-Submit:hover span {
                padding-right: 25px;
            }

                .button-Submit:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>

<body>
    <div>
        <center>
            <label>@ViewData["ProductName"]</label>

            <br>

            <img src="@ViewData["ImagePath"]" alt="BackGround" style="width: 15%; float: inherit" ; /> <br>

            <label>即刻領取！</label> <br>

            <button class="button-Submit" onclick="location.href='@Url.Action("Index","Home")'"><span>點擊返回首頁 </span> </button>

        </center>
    </div>
</body>
</html>